* {
  box-sizing: border-box;
}

nav {
  float: top;
  width: 100%;
  height: 50px;
  background: rgb(172, 245, 146);
  padding: 20px;
  border: 20px rgb(73, 156, 73);
  
}
nav ul {
  list-style-type: none;
  padding: 0;
}
section {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: rgb(208, 252, 192);
  height: 300px;
   border: 20px rgb(73, 156, 73);
}
article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: rgb(208, 252, 192);
  height: 300px;
   border: 20px rgb(73, 156, 73);
}
section::after {
  content: "";
  display: table;
  clear: both;
}
footer {
  background-color: rgb(73, 156, 73);
  padding: 10px;
  text-align: center;
  color: white;
}
header {
  background-color: rgb(73, 156, 73);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
body {
width: 90%;
margin-left: auto;
margin-right: auto;
}  
