* {
  box-sizing: border-box;
}

nav {
  float: left;
  width: 100%;
  height: 50px;
  background: rgb(255, 153, 0);
  padding: 20px;
  border: 5px rgb(73, 156, 73)solid;  
}

section {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: rgb(255, 153, 0);
  height: 200px;
  border: 5px rgb(73, 156, 73)solid;  
}
article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: rgb(255, 153, 0);
  height: 300px;
  border: 5px rgb(73, 156, 73)solid;  
}

aside {
  float: right;
    padding: 20px;
  width: 30%;
  background-color: rgb(255, 153, 0);
  height: 500px;
  border: 5px rgb(73, 156, 73)solid;  
}

header {
  color: rgb(255, 153, 0);
  float: left;
  width: 100%;
  background-color: rgb(73, 156, 73);
  padding: 30px;
  text-align: center;
  font-size: 35px;

}
  footer {
   color: rgb(255, 153, 0);
  float: right;
     width: 100%;
  background-color: rgb(73, 156, 73);
  padding: 10px;
  text-align: center;

}
body {
width: 100%;
 height: 100%;
background-color: rgb(73, 156, 73);
}  
a:hover {
  color:#F61C1C;
}
