* {
  box-sizing: border-box;
}
body {
  float: right;
  height: 100%;
  width; 100%;
  background-color: rgb(73, 156, 73);
}
h1 {
  margin-left: 20px;
  background-color: rgb(208, 252, 192);
  border: 5px rgb(0, 0, 0);
  padding: 20px;

}
h2 {
  margin-left: 20px;
  background-color: rgb(208, 252, 192);
  border: 5px rgb(0, 0, 0);
  padding: 20px;

}
h3 {
  margin-left: 20px;
  background-color: rgb(208, 252, 192);
  border: 5px rgb(0, 0, 0);
  padding: 20px;
}
p {
    margin-left: 20px;
    background-color: rgb(208, 252, 192);
    border: 5px rgb(0, 0, 0);
    border-radius: 25px;
    padding: 20px;
  }
ol {
    margin-left: 20px;
    background-color: rgb(208, 252, 192);
    border: 5px rgb(0, 0, 0);
    border-radius: 25px;
    padding: 20px;
     width: 500px;
  }
ul {
    margin-left: 20px;
    background-color: rgb(208, 252, 192);
    border: 5px rgb(0, 0, 0);
    border-radius: 25px;
    padding: 20px;
     width: 500px;
  }
figure {
    margin-left: 20px;
    background-color: rgb(208, 252, 192);
    border: 5px rgb(0, 0, 0);
    border-radius: 25px;
    padding: 20px;
     width: 350px;
}
nav {
  float: left;
  width: 15%;
  height: 100%;
  background: rgb(172, 245, 146);
  padding: 5px;
  border: 5px rgb(73, 156, 73)solid;  
  position: fixed;
}
section {
    float: right;
  padding: 20px;
  width: 85%;
  background-color: rgb(208, 252, 192);
  height: 200px;
  border: 5px rgb(73, 156, 73)solid;  
}
img {
  padding: 20px;
  border:5px rgb(73, 156, 73)solid;  
}
