#box1 {
border: 1px solid;
box-shadow: 5px 10px rgb(224, 88, 88);
    text-align: center;
  }
#box2 {
border: 1px solid;
box-shadow: 5px 10px rgb(224, 88, 88);
 background-image: url("/pink.jpg")("pink.jpg");
 background-repeat: no-repeat;
 background-size: cover;
text-align: center;
  }
H1 {
    text-shadow: 2px 2px #ff0000;
}
a:hover {
  color:#F61C1C;
   transition-duration: 1s;
}
@media only screen and (max-width: 800px) {
  body {
    background-color: #ff0000;
    color: white;
  }
}
