#box1 {
border: 1px solid;
box-shadow: 5px 10px rgb(224, 88, 88);
    text-align: center;
  }
#box2 {
border: 1px solid;
box-shadow: 5px 10px rgb(224, 88, 88);
 background-image: "https://github.com/Firex86/firex86.github.io/blob/main/11B/pink.jpg?raw=true"("pink.jpg");
 background-repeat: no-repeat;
 background-size: cover;
text-align: center;
  }
H1 {
    text-shadow: 2px 2px #ff0000;
}
